In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('TrainingData.csv')

/home/achusanjeev/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns

Index(['application_key', 'mvar1', 'mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar6',
       'mvar7', 'mvar8', 'mvar9', 'mvar10', 'mvar11', 'mvar12', 'mvar13',
       'mvar14', 'mvar15', 'mvar16', 'mvar17', 'mvar18', 'mvar19', 'mvar20',
       'mvar21', 'mvar22', 'mvar23', 'mvar24', 'mvar25', 'mvar26', 'mvar27',
       'mvar28', 'mvar29', 'mvar30', 'mvar31', 'mvar32', 'mvar33', 'mvar34',
       'mvar35', 'mvar36', 'mvar37', 'mvar38', 'mvar39', 'mvar40', 'mvar41',
       'mvar42', 'mvar43', 'mvar44', 'mvar45', 'mvar46', 'mvar47', 'mvar48',
       'default_ind'],
      dtype='object')

In [4]:
df.default_ind.value_counts()

0    59145
1    23855
Name: default_ind, dtype: int64

In [5]:
df.isna().sum(axis=0)

application_key        0
mvar1                  0
mvar2               5886
mvar3                535
mvar4                535
mvar5                535
mvar6                  0
mvar7                  0
mvar8                  0
mvar9                  0
mvar10                 0
mvar11                 0
mvar12                 0
mvar13                 0
mvar14                 0
mvar15                 0
mvar16                 0
mvar17                 0
mvar18                 0
mvar19                 0
mvar20                 0
mvar21             23462
mvar22             30668
mvar23             42311
mvar24             19530
mvar25                 0
mvar26                 0
mvar27                 0
mvar28                 0
mvar29                 0
mvar30                 0
mvar31                 0
mvar32                 0
mvar33              1869
mvar34                 0
mvar35                 0
mvar36                 0
mvar37                 0
mvar38                 0
mvar39                 0
mvar40                 0
mvar41                 0
mvar42                 0
mvar43                 0
mvar44              8149
mvar45                 0
mvar46                 0
mvar47                 0
mvar48                 0
default_ind            0
dtype: int64

In [31]:
df = df.dropna()
df.replace(np.nan,inplace=True)
df.replace('na', np.nan, inplace=True)
df.replace('missing',np.nan,inplace=True)

NameError: name 'nan' is not defined

In [7]:
df = df.fillna(df.mean(axis=0))

In [8]:
X = df.drop('default_ind', axis = 1)
y = df['default_ind']

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
log = LogisticRegression()

In [11]:
X.dtypes

application_key      int64
mvar1               object
mvar2              float64
mvar3              float64
mvar4              float64
mvar5              float64
mvar6               object
mvar7               object
mvar8               object
mvar9               object
mvar10              object
mvar11              object
mvar12              object
mvar13              object
mvar14               int64
mvar15              object
mvar16              object
mvar17              object
mvar18              object
mvar19              object
mvar20              object
mvar21             float64
mvar22             float64
mvar23             float64
mvar24             float64
mvar25              object
mvar26              object
mvar27              object
mvar28              object
mvar29              object
mvar30              object
mvar31              object
mvar32              object
mvar33             float64
mvar34              object
mvar35              object
mvar36              object
mvar37              object
mvar38              object
mvar39              object
mvar40              object
mvar41              object
mvar42              object
mvar43              object
mvar44             float64
mvar45              object
mvar46              object
mvar47              object
mvar48               int64
dtype: object

In [12]:
X1 = X[X.columns[X.dtypes != 'object']]

In [13]:
X.columns[X.dtypes != 'object']

Index(['application_key', 'mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar14',
       'mvar21', 'mvar22', 'mvar23', 'mvar24', 'mvar33', 'mvar44', 'mvar48'],
      dtype='object')

In [14]:
log.fit(X1,y)

/home/achusanjeev/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [15]:
y_pred = log.predict(X1)

In [16]:
from sklearn.metrics import accuracy_score, confusion_matrix, f2_score

In [17]:
accuracy_score(y_pred,y)

0.7162771084337349

In [18]:
confusion_matrix(y, y_pred)

array([[58142,  1003],
       [22546,  1309]])

In [29]:
type(df.mvar6.unique().tolist()[2])

float

In [20]:
from sklearn.decomposition import PCA

SyntaxError: invalid syntax (<ipython-input-30-5c129752c3db>, line 1)