In [146]:
import os
import math
import numpy as np
import datetime as dt
import time
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [106]:
data = pd.read_csv('Data/TrainingData.csv', index_col=0)

C:\Users\Renganathan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [130]:
data.replace('missing', np.nan, inplace=True)
data.replace('na', np.nan, inplace=True)
int_cols = list(set(data.columns) - {'mvar47'})
data[int_cols] = data[int_cols].astype(float)
data.describe()

,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,mvar10,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar48,default_ind
count,79267.000000,77114.000000,82465.000000,82465.000000,82465.000000,63299.000000,7.532600e+04,63291.000000,71318.000000,8.246500e+04,...,76671.000000,17930.000000,25736.000000,80977.000000,82111.000000,74851.000000,37080.000000,59397.000000,83000.000000,83000.000000
mean,1747.511865,1.054816,5.401784,0.461151,1.084012,1633.429280,1.750797e+04,6822.332227,34030.596329,3.022857e+04,...,0.087673,97.851158,72.016570,0.331550,6.553604,0.706595,0.070523,0.093187,556.021277,0.287410
std,94.830127,1.556682,11.091569,1.704292,5.743899,3667.183981,4.677222e+04,10060.346814,50673.150005,6.617798e+04,...,0.423403,29.530657,24.508469,0.373973,6.273107,0.245915,0.290383,0.329054,1106.953295,0.452557
min,1477.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,...,0.000000,0.014000,0.000000,0.000000,0.000000,0.060660,0.000000,0.000000,2.000000,0.000000
25%,1680.000000,0.131800,0.000000,0.000000,0.000000,41.000000,1.750250e+03,496.000000,3542.250000,1.153000e+03,...,0.000000,90.149500,58.174750,0.000000,2.000000,0.515280,0.000000,0.000000,8.000000,0.000000
50%,1743.000000,0.513000,0.300000,0.000000,0.000000,297.000000,7.020500e+03,2507.000000,14389.000000,9.525000e+03,...,0.000000,100.000000,78.839500,0.200000,5.000000,0.739500,0.000000,0.000000,17.000000,0.000000
75%,1813.000000,1.386200,6.595000,0.000000,0.000000,1381.000000,1.811300e+04,9869.500000,44413.000000,3.428800e+04,...,0.000000,111.327000,91.596750,0.571430,10.000000,0.945120,0.000000,0.000000,111.000000,1.000000
max,1950.000000,31.018100,399.334000,25.754000,165.492000,94302.000000,5.637108e+06,291810.000000,840658.000000,5.647073e+06,...,21.000000,631.360000,182.111000,2.000000,91.000000,1.000000,7.000000,5.000000,3247.000000,1.000000

In [131]:
X_cols = list(data.columns)
X_cols.remove('default_ind')

In [148]:
y = data['default_ind']

X_cols = list(data.columns)
X_cols.remove('default_ind')

X = data[X_cols]

X.loc[X['mvar47'] == 'L', 'mvar47'] = 1
X.loc[X['mvar47'] == 'C', 'mvar47'] = 0

C:\Users\Renganathan\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [135]:
X_Scaler = StandardScaler()
X_scaled = pd.DataFrame(X_Scaler.fit_transform(X[numeric]), columns=X[numeric].columns, index=X.index)
X_scaled[categorical] = X[categorical]

1. Identify rows where the col_to_impute not NaN
2.

In [ ]:
def distance(ind, X, row):
    ((X - row)**2).mean(axis=1)

In [100]:
def KNN_impute(cols_to_impute, X, numeric):
    
    for col in cols_to_impute:
        
        other_cols = [c for c in numeric if (c != col_to_impute)]
        
        X_train = X.loc[~X[col_to_impute].isna(), other_cols]
        y_train = X.loc[~X[col_to_impute].isna(), col_to_impute]
        
        X_test = X.loc[X[col_to_impute].isna(), other_cols]
        
        for ind, row in X_test.iterrows():
            distance(ind, X_train, row)

In [155]:
X.columns

Index(['mvar1', 'mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar6', 'mvar7', 'mvar8',
       'mvar9', 'mvar10', 'mvar11', 'mvar12', 'mvar13', 'mvar14', 'mvar15',
       'mvar16', 'mvar17', 'mvar18', 'mvar19', 'mvar20', 'mvar21', 'mvar22',
       'mvar23', 'mvar24', 'mvar25', 'mvar26', 'mvar27', 'mvar28', 'mvar29',
       'mvar30', 'mvar31', 'mvar32', 'mvar33', 'mvar34', 'mvar35', 'mvar36',
       'mvar37', 'mvar38', 'mvar39', 'mvar40', 'mvar41', 'mvar42', 'mvar43',
       'mvar44', 'mvar45', 'mvar46', 'mvar47', 'mvar48'],
      dtype='object')

In [156]:
col_to_impute = 'mvar45'

other_cols = [c for c in numeric if (c != col_to_impute)]

X_train = X.loc[~X[col_to_impute].isna(), other_cols]
y_train = X.loc[~X[col_to_impute].isna(), col_to_impute]

X_test = X.loc[X[col_to_impute].isna(), other_cols]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [178]:
for val in X_test.iterrows():
    break

In [179]:
val

(230032, mvar1       1696.00000
 mvar2          1.65410
 mvar3          0.00000
 mvar4          0.00000
 mvar5          0.00000
 mvar6          0.00000
 mvar7       6015.00000
 mvar8        322.00000
 mvar9      40369.00000
 mvar10     18414.00000
 mvar11             NaN
 mvar12      6423.00000
 mvar13      3067.00000
 mvar14    123875.00000
 mvar15             NaN
 mvar16         1.00000
 mvar17         1.00000
 mvar18         1.00000
 mvar19         3.00000
 mvar20         3.00000
 mvar21        94.78000
 mvar22      8987.18000
 mvar23             NaN
 mvar24        72.25000
 mvar25      1462.00000
 mvar26      4532.00000
 mvar27      2890.00000
 mvar28        61.00000
 mvar29      4532.00000
 mvar30      1095.00000
 mvar31      3376.00000
 mvar32       625.00000
 mvar33         1.16670
 mvar34         1.00000
 mvar35         0.00000
 mvar36         8.00000
 mvar37        10.00000
 mvar38         4.00000
 mvar39         1.00000
 mvar40        73.78000
 mvar41        82.54700
 mvar42         0.08696
 mvar43        10.00000
 mvar44         0.63899
 mvar46         0.00000
 Name: 230032, dtype: float64)

In [128]:
categorical = ['mvar47', 'mvar48']
numeric = list(X.columns)

for var in categorical:
    numeric.remove(var)
    
row = X_scaled.iloc[0, :]

In [119]:
distance(row, X, 'mvar45', categorical, numeric)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [129]:
if col_to_impute in categorical:
    categorical.remove(col_to_impute)
else:
    numeric.remove(col_to_impute)

X_available = X.loc[~X[col_to_impute].isna(), :]

((X_available[numeric] - row[numeric])**2).mean(axis=1)

application_key
230035    2.478853e+08
230040    6.487438e+08
230042    1.008344e+09
230043    9.356215e+07
230047    5.919995e+08
230048    1.839357e+09
230051    9.940296e+08
230057    5.418007e+07
230058    2.280588e+09
230059    1.974813e+09
230060    3.814482e+08
230062    1.801461e+09
230063    3.331967e+09
230065    5.541300e+07
230066    1.903701e+09
230067    2.431516e+09
230068    2.502050e+08
230069    3.113432e+08
230070    3.004049e+08
230071    6.253348e+08
230072    1.419091e+10
230073    3.274408e+08
230075    1.081589e+07
230076    1.706211e+08
230079    2.110374e+07
230083    3.219213e+08
230085    7.972882e+08
230089    9.624779e+08
230090    5.089135e+09
230091    1.246693e+08
              ...
578012    1.594337e+09
578015    3.620820e+08
578018    3.659352e+09
578020    1.468520e+09
578023    5.640883e+07
578024    1.404623e+08
578033    1.830103e+08
578034    1.057563e+08
578036    1.524396e+08
578037    8.455162e+08
578038    1.806327e+09
578039    9.740958e+08
578040    7.578560e+07
578042    6.657289e+08
578045    1.891296e+08
578046    6.530807e+09
578047    2.915408e+10
578048    1.517032e+09
578050    1.104807e+08
578051    4.003176e+08
578053    8.184588e+11
578054    3.422839e+09
578056    8.980647e+08
578057    2.173631e+08
578059    1.264434e+09
578060    1.041159e+08
578061    5.669910e+08
578063    3.267168e+08
578064    1.052517e+09
578068    1.739322e+09
Length: 37080, dtype: float64

In [66]:
row[numeric]

application_key     230032
mvar1                 1696
mvar2               1.6541
mvar3                    0
mvar4                    0
mvar5                    0
mvar6                    0
mvar7                 6015
mvar8                  322
mvar9                40369
mvar10               18414
mvar11                 NaN
mvar12                6423
mvar13                3067
mvar14              123875
mvar15                 NaN
mvar16                   1
mvar17                   1
mvar18                   1
mvar19                   3
mvar20                   3
mvar21               94.78
mvar22             8987.18
mvar23                 NaN
mvar24               72.25
mvar25                1462
mvar26                4532
mvar27                2890
mvar28                  61
mvar29                4532
mvar30                1095
mvar31                3376
mvar32                 625
mvar33              1.1667
mvar34                   1
mvar35                   0
mvar36                   8
mvar37                  10
mvar38                   4
mvar39                   1
mvar40               73.78
mvar41              82.547
mvar42             0.08696
mvar43                  10
mvar44             0.63899
mvar45                 NaN
mvar46                   0
Name: 0, dtype: object

In [69]:
(X_available[numeric] - row[numeric]).mvar45

3        NaN
8        NaN
10       NaN
11       NaN
15       NaN
16       NaN
19       NaN
25       NaN
26       NaN
27       NaN
28       NaN
30       NaN
31       NaN
33       NaN
34       NaN
35       NaN
36       NaN
37       NaN
38       NaN
39       NaN
40       NaN
41       NaN
43       NaN
44       NaN
47       NaN
51       NaN
53       NaN
57       NaN
58       NaN
59       NaN
        ...
82943    NaN
82946    NaN
82949    NaN
82951    NaN
82954    NaN
82955    NaN
82964    NaN
82965    NaN
82967    NaN
82968    NaN
82969    NaN
82970    NaN
82971    NaN
82973    NaN
82976    NaN
82977    NaN
82978    NaN
82979    NaN
82981    NaN
82982    NaN
82984    NaN
82985    NaN
82987    NaN
82988    NaN
82990    NaN
82991    NaN
82992    NaN
82994    NaN
82995    NaN
82999    NaN
Name: mvar45, Length: 37080, dtype: object